.search {
    width: 350px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px 15px;
}

.catalog-title {
    margin-bottom: 20px;
    padding: 20px;
}



.item {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.filter {
    margin: 20px 0;
}

.filter select {
    padding: 10px;
    font-size: 16px;
}

.details-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
}

.details-button:hover {
    background-color: #ffffff;
    border: #000000 solid 1px;
    color: black;
}

